*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

nav{
	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.10);
	position:fixed;
	z-index: 1000;
	width: 100%;
}



.contenedor{
	max-width: 1200px;
	margin:auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}

/*categorias----------------------------------------------*/

.contenedor .contenedor-botones-menu .btn-menu-cerrar{
	font-size: 16px;
	border: none;
	display: none;
}
.contenedor .contenedor-botones-menu .btn-menu-cerrar:hover{
	color: #e47911;
	padding: 5px;

}

.contenedor-enlaces-nav .btn-categorias{
	padding: 13px;
}
.contenedor-enlaces-nav .btn-categorias button{
	font-size: 16px;
	color: #000;
	display: inline-block;
	 border:1px solid transparent;
	 cursor: pointer;
	 background: none;
	font-family: 'Raleway', sans-serif;
	margin-top: 5px
}
.contenedor-enlaces-nav .btn-categorias button:hover{
	color: #e47911;
	
}

.contenedor-enlaces-nav .btn-categorias button > i{
	margin-right:  5px;
}



/*nombres----------------------------------------------*/

.contenedor-enlaces-nav .contenedor-name{
	padding: 13px;
	cursor: pointer;
}
.contenedor-enlaces-nav .contenedor-name h1{
	font-size: 30px;
	font-weight: 20px
}

.contenedor-enlaces-nav .contenedor-name h1 span{
	color: #e47911;
}


/*carrito y cuenta----------------------------------------------*/

.contenedor-enlaces-nav .enlaces{
	padding: 15px;
	margin-top: 5px
}
.contenedor-enlaces-nav .enlaces >a{
	color: #000;
	text-decoration: none;
	font-size: 16px;
	margin-left: 10px
}

.contenedor-enlaces-nav .enlaces >a:hover{
	color: #e47911;
	text-decoration: underline;
	
}

/*grid del nav categorias----------------------------------------------*/

.regresar{
	display: none;
	width: 50%;
	border: none;
	background:  #232f33;
	color: white;
	border-radius: 3px;
	margin: auto;
	cursor: pointer;
}
/*contenedor*/

.grid-container{
	position: relative;
	width: 100%;
	z-index: 1000
}

.grid-container .grid{
	position: absolute;
	width: 100%;
	display: none;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categoria subcategorias banner ";
	min-height: 300px;
	z-index: 1000;
	background:white;
}

.activo{
	display: grid;
}
/*contenedor end*/

.grid-container .grid .container-categorias{
	grid-area: categoria;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,.10);
	z-index: 1000;
}

.grid-container .grid .container-categorias >a{
	font-size: 16px;
	padding: 20px 25px;
	text-decoration: none;
	color: #000;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,.10);
	
}

.grid-container .grid .container-categorias >a:hover{
	color: #e47911;
	font-weight: bold;
}

.grid-container .grid .container-categorias >a  i{
	transform: rotate(275deg);
	float: right;
	display: none;	
}

.grid-container .grid .container-categorias >a:hover  i{
	display: inline-block;
}

/*categorias tecnologia y mas-----------------------------------------------*/

.categorias-principal{
	grid-area: subcategorias;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,.10);
}

.categorias-principal .titulo-categoria-principal{
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
}

.categorias-principal > a{
	font-size: 16px;
	padding: 20px 25px;
	text-decoration: none;
	color: #000;
	box-shadow: 0px 0px .5px 0px rgba(0,0,0,.10);
}

.categorias-principal > a:hover{
	color: #e47911;
	font-weight: bold;
}



/*banner categorias------------------------------------------------------*/
.container-img-categorias{
	grid-area: banner;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,.10);
}

.container-img-categorias > img{
	width: 100%;
	height: 300px;
	background-size: cover;
	display: flex;
	transition: 1s;
}


#marca2{
	display: none;
}


.img-marca2 {
display: none;
}


/*muebles*/
#marca3{
	display: none;
}
#img-muebles3{
	display: none;
}
/*muebles*/

/*navegacion responsiva*/
@media screen and (max-width: 800px) {
.grid-container .grid{
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categoria banner ";
}

	.grid-container .grid .container-categorias{
		
	grid-area: categoria;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,.10);
	z-index: 1000;
	height: 70vh;

	}

	.grid-container .grid .container-categorias >a{
		padding-top: 5vh
	}
	.grid-container .grid .container-categorias >a  i{
	
	display: inline-block;	
	}


			.container-img-categorias{
				 display: none;
			}
			.container-img-categorias img{
				 display: none;
			}


				.categorias-principal{
					grid-area: banner ;		
					z-index: 2000;
					background: #232f33;
					color: #e47911;
					
				}
				.categorias-principal > a{
					color: #e47911;
				}


}

@media screen and (max-width: 636px){
	.contenedor-enlaces-nav .enlaces{
		position: fixed;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: #eaeded;
		border: 1px solid #232f33;

	}
	.contenedor-enlaces-nav .enlaces a:nth-child(2){
		padding-top: 5px
	}
	.btn-menu-barras span{
		display: none;
	}
}

/*navegacion responsiva*/


/*header start---------------------------------------------------------------------------------------*/

#header{
	width: 100%;
	background-color: #eaeded;
}

.showslider{
	width: 100%;
	position: relative;
}

.showslider .slider{
	width: 100%;
	list-style: none;
	margin-top: 70px;
	position: relative;
	text-align: center;
}

.showslider .slider li > img{
	width: 95%;
	height: 400px;
	

}

.paginacion,.left,.right{
	position: absolute;
	

}
.left,.right{
	width: 100%;
	bottom: 50%;

}

.right span{
	position: absolute;
	right: 0;
	bottom: 45%;
	cursor: pointer;
	font-size: 20px;
	background: rgba(0,0,0,0.10);
	padding: 2px;
	border-radius: 30%;
}
.right span:hover{
	background: rgba(0,0,0,0.10);
	color: #e47911;
}


.left span{
	cursor: pointer;
	font-size: 20px;
	background: rgba(0,0,0,0.10);
	padding: 2px;
	border-radius: 30%;

}
.left span:hover{
	background: rgba(0,0,0,0.10);
	color: #e47911;
}

.paginacion{
	width: 100%;
	bottom: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.paginacion > span{
	color: white;
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
}
.paginacion .activo{
	color: #e47911;
}

/*header banner==========================*/


.banner-header{
	width: 100%;
	margin-top: 40px;	
	
}
.banner-header > img{
	margin: auto;
	width: 90%;
	background-size: cover;
	height: 220px;
	border-bottom: 5px solid #e47911;
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,.10);
	cursor: pointer;
	border-radius: 10px;

}

.banner-peque単o{
	width: 90%;
	margin-top: 70px;
	padding-bottom: 40px;
	

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.banner-peque単o > img{
	width: calc(100%/3.1);
	height: 120px;
	border-left:  2px solid black;
	border-right:   2px solid black;
	box-shadow: 0px 10px 5px 2px rgba(0,0,0,.10);
	cursor: pointer;
}

@media screen and (max-width: 636px){

.banner-header > img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}


.banner-peque単o{
	flex-direction: column;

}

.banner-peque単o > img{
	width: 100%;
	background-size: cover;
	object-fit: cover;
	object-position: center;
	margin: 0px 10px 20px 10px;
}

}

/*CELULARES MAIN====================================================*/
.container-pag .container-img .img > img{
	width: 320px;
	height: 320px;
	object-fit: cover;
	text-align: center;
	cursor: pointer;
}

.container-pag{
	display: flex;
	flex-direction: column;

	margin-top: 50px;
	position: relative;
	overflow-x: hidden;
}

/*titulo================================*/
.textos-publi  {
	font-size: 25px;
	display: block;
	border-bottom: 1px solid black;
	cursor: pointer;
}

	.textos-publi:hover{
	color: #e47911;
	border-bottom: 1px solid #e47911;
	}
/*titulo final================================*/

/*flechas================================*/
.flecha-izquierda,.flecha-derecha {
	position:absolute;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	top: 50%;
}

.flecha-derecha{
	right: 0;
}

.flecha-izquierda span,.flecha-derecha span{
	font-size: 30px;
	color: #232f33;
}
.flecha-izquierda span:hover,.flecha-derecha span:hover{
	color: #e47911;
}
/*flechas================================*/


/*iimagenes================================*/

.container-img {
	max-width: 320px;
	box-shadow: 3px 10px 20px 2px rgba(0,0,0,.10);
	margin-right: 60px;
}

.container-img .price{
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.container-img .price span:nth-child(1){
	font-size: 18px;
	cursor: pointer;
	border: 1px solid #232f33;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,.10);
	transition: 1s;
}
.container-img .price span:nth-child(1):hover{
	color: #e47911;
}

.container-img .price span:nth-child(2){
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #e47911;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,.10);
	background-color: #fe856b;
	color:white;
	transition: 1s;
}
.container-img .price span:nth-child(2):hover{
	color: black
}


.container-padre{
	overflow: hidden;
	margin-top: 20px;
	display: flex;
	
	scroll-behavior: smooth;
}


/*iimagenes final================================*/



/*CELULARES MAIN fin====================================================*/



/*banner==================================================*/

#aside{
	overflow: hidden;
	margin-top: 30px;
	background-color: #eaeded;
	width: 100%;
}

#aside .banner-final > img{
	width: 100%;
	height: 250px;
	background-size: cover;
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,.10);
	cursor: pointer;
	border:  2px solid black;
	border-radius: 10px;
}

#aside .banner-final{
	padding: 20px;
} 

@media screen and (max-width: 636px){
	#aside .banner-final{
		width: 100%;
	}
	#aside .banner-final > img{
		height: 120px;

	}
}


/*banner final==================================================*/




/*articulos==================================================*/
.padre-article{
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin-top: 50px;

}

 .articulo-main{
 	display: flex;
 	box-shadow:0px 10px 10px 2px rgba(0,0,0,.10); 
 	width: calc(100%/2.2);
 } 

 .articulo-main .article-img{
 	margin: 10px;
 	display: flex;
 	align-items: center;
 }

 .articulo-main .article-img > img{
 	width:300px;
 	height: 250px;
 	object-fit: cover;
 	box-shadow:0px 1px 1px 1px rgba(0,0,0,.10);
 	cursor: pointer;
 	transition: 1s;
 }

 .articulo-main .article-img > img:hover{
 	box-shadow:0px 1px 1px 1px #e47911;
 }

.contenedor-texto {
	padding: 15px;

}

.contenedor-texto .text-articulo{
	text-align: justify;
	margin-top: 20px;
	
}

 .bottom-articulo{
	text-align: center;
	margin-top: 10px;
}

 .bottom-articulo > button{
 	margin-top: 10px;
 	font-size: 18px;
	cursor: pointer;
	border: 2px solid #e47911;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,.10);
	background-color: #fe856b;
	color:white;
	transition: 1s;
 }

 .bottom-articulo > button:hover{
 	color:black 
 }

/*titulo articulo*/
 	.titulo-aside{
 		width: 100%;
 	}

	.titulo-aside > h6{
	margin-top: 20px;
	font-size: 25px;
	cursor: pointer;
	border-bottom: 1px solid black;
	}

	.titulo-aside > h6:hover{
		color: #e47911;
		border-bottom: 1px solid #e47911;
	}

	/*titulo articulo final*/


	@media screen and (max-width: 1012px){
		.padre-article{
			overflow: hidden;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.articulo-main{
			width: 90%;
			margin-top: 40px;
		}
	}

	@media screen and (max-width: 650px){

		.articulo-main{
			flex-direction: column;
			align-items: center;
			width: 60%;
		}

	

	.articulo-main	.article-img > img{
	  width: 200px;
	  height: 140px;
	}
	}

/*articulos final==================================================*/




/*marcas*==============*/

.marcas{
	margin-top:80px;
	background-color: #eaeded;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.10);
}

.marcas .titulo-marcas{
	
	margin-top: 20px;
	font-size: 35px;
	cursor: pointer;
	
	margin-left: 10px;
	text-align: center;
}
.marcas .titulo-marcas h6{
	display: block;
	border-bottom: 1px solid black;
	cursor: pointer;
}
.marcas .titulo-marcas h6:hover{
	color: #e47911;
	border-bottom: 1px solid #e47911;
}

.marcas .marcas-contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	align-items: center;
	width: 90%;
	justify-content: space-between;
	margin-bottom: 10px;
} 



.marcas .marcas-contenedor .marcas-section > img{
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #e47911;
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,.10);
	cursor: pointer;
	margin-top: 20px;
}

.marcas .marcas-contenedor .marcas-section > img:hover{
	border: 2px solid #e47911;
	box-shadow: 20px 20px 20px 20px rgba(0,0,0,.10)
}

@media screen and (max-width: 490px){
	.marcas .marcas-contenedor{
		flex-direction: column;
		
	}
}
@media screen and (max-width: 984px){
	.marcas .marcas-contenedor{
		justify-content: space-around;
	}
}


/*marcas final*==============*/




/*footer star======================================================================*/
#footer{
	background-color:rgba(0,0,0,.9);
	border-top: 4px solid #e47911;
	margin-top: 60px;
}

.contenedor-padre-footer{
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;
}

.contenedor-padre-footer .servicios-padre{
	width: calc(100%/3);
	margin-bottom: 20px;
}

.contenedor-padre-footer .servicios-padre .titulo-servicios{
	width: 100%;
	text-align: center;
	margin-top: 30px;

}
.contenedor-padre-footer .servicios-padre .titulo-servicios > h6{
	font-size: 18px;
	color: white;
	cursor: pointer;
}
.contenedor-padre-footer .servicios-padre .enlaces-servicios{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	
}

.contenedor-padre-footer .servicios-padre .enlaces-servicios > a{
	font-size: 16px;
	color: white;
	text-decoration: none;
	display: block;
	margin-bottom: 15px;
}
.contenedor-padre-footer .servicios-padre .enlaces-servicios > a:hover{
	text-decoration: underline;
}


.contenedor-padre-footer .novedades-padre{
	width: calc(100%/3);
	margin-bottom: 20px;
}
.contenedor-padre-footer .novedades-padre .titulo-novedades{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.contenedor-padre-footer .novedades-padre .titulo-novedades > h6{
	font-size: 18px;
	color: white;
	cursor: pointer;
}
.contenedor-padre-footer .novedades-padre .enlaces-novedades{
	width: 100%;
	text-align: center;
	margin-top: 20px;	
} 
.contenedor-padre-footer .novedades-padre .enlaces-novedades > a{
	font-size: 16px;
	color: white;
	text-decoration: none;
	display: block;
	margin-bottom: 15px;
}
.contenedor-padre-footer .novedades-padre .enlaces-novedades > a:hover{
	text-decoration: underline;
}



.contenedor-padre-footer .politicas-padre{
	width: calc(100%/3);
	margin-bottom: 20px;
}
.contenedor-padre-footer .politicas-padre .titulo-politicas{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.contenedor-padre-footer .politicas-padre .titulo-politicas > h6{
	font-size: 18px;
	color: white;
	cursor: pointer;
}
.contenedor-padre-footer .politicas-padre .enlaces-politicas{
	width: 100%;
	text-align: center;
	margin-top: 20px;	
} 
.contenedor-padre-footer .politicas-padre .enlaces-politicas > a{
	font-size: 16px;
	color: white;
	text-decoration: none;
	display: block;
	margin-bottom: 15px;
}
.contenedor-padre-footer .politicas-padre .enlaces-politicas > a:hover{
	text-decoration: underline;
}

@media screen and (max-width: 445px){
	.contenedor-padre-footer{
		flex-direction: column;
		align-items: center;
	}
	.servicios-padre, .novedades-padre, .politicas-padre{
		margin-top: 5px;
		width: 100%;
		border: 1px solid #e47911;
	}
}


/*footer ends======================================================================*/


